body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

.heading {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-family: "Exo 2", "Verdana";
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

legend {
  font-size: 1.5em;
  text-align: center;
}
.settings {
  background-color: #ccc;
  background-image: linear-gradient(-30deg, #ccc, #555, #ccc, #555, #ccc);
  color: #000;
  font-family: "Exo 2", "Verdana";
  font-size: 1.2em;
  text-align: center;
  position: relative;
}

#char-theme-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
#stage-theme-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

input, select {
  width: 250px;
  padding: 6px 5px;
  margin: 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Exo 2", "Verdana";
  font-size: 1em;
}

.results {
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-family: "Exo 2", "Verdana";
  font-size: 1.5em;
  text-align: center;
  font-weight: 1000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #222;
  background-image: url("smash-ultimate-mural.jpg");
  background-size: auto;
  background-position: center left;
  background-repeat: repeat-y;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: scrollbg 120s infinite;
  animation-timing-function: linear;
}

@keyframes scrollbg {
  50% {background-position-x: right;}
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.player-list input {
  margin-bottom: 10px;
}

.player-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 6px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Exo 2", "Verdana";
  border-radius: 5px;
  cursor: pointer;
}

.player-btn:hover {
  background-color: #333;
}

.char-select-num {
  margin: 20px 0;
}

.char-select-num input {
  margin: 10px 0;
}

.stage-select-num {
  margin: 20px 0;
}

.stage-select-num input {
  margin: 10px 0;
}

.submit-btn {
  text-align: center;
}

.submit-btn button {
  background-color: #000;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 30px;
  font-family: "Exo 2", "Verdana";
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn button:hover {
  background-color: #333;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-family: "Exo 2", "Verdana";
  color: #000;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.setting-description {
  margin-top: 10px;
  margin-bottom: 0;
}

.result-line {
  margin: 10px 0;
}

#multiple-reminder-char {
  margin: 0;
  padding: 0;
}

#multiple-reminder-stage {
  margin: 0;
  padding: 0;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 6px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  font-family: "Exo 2", "Verdana";
  font-size: 1em;
  border-radius: 5px;
}

.open-button:hover {
  background-color: #777;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  padding: 10px;
  z-index: 9;
  background-image: linear-gradient(-30deg, #ccc, #555, #ccc, #555, #ccc);
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.cancel {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 10px, 0px;
  background-color: #000;
  border-radius: 5px;
  font-family: "Exo 2", "Verdana";
}

.cancel:hover {
  background-color: #333;
}

#alt-stage-toggle {
  margin: 10px 10px;
  padding: 0;
  width:20px;
}

#color-toggle {
  margin: 10px 10px;
  padding: 0;
  width:20px;
}

#legality-control {
  width: 30%;
  margin: 0 20px;
}

#legality-ctrl-description {
  margin: 0;
  font-size: 0.8em;
}

/* Responsive layout - makes a one column-layout instead of two or three columns */
@media screen and (max-width: 800px) {
  .open-button {
    position: relative;
    text-align: center;
    margin: 10px 0;
    bottom: 0;
    right: 0;
  }

  .form-popup {
    width: 80%;
    margin-top: -300px;
    margin-left: -40%;
  }

  .column {
    width: 100%;
}





    


    



