body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
}

body, html {
  margin: 0;
}


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.heading {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-family: "Exo 2", "Verdana";
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

legend {
  font-size: 1.5em;
  text-align: center;
}
.settings {
  background-color: #ccc;
  background-image: linear-gradient(-30deg, #ccc, #555, #ccc, #555, #ccc);
  color: #000;
  font-family: "Exo 2", "Verdana";
  font-size: 1.2em;
  text-align: center;
  position: relative;
  padding: 10px 10px;
  border: 1px solid #000;
}

#char-theme-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
#stage-theme-description {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

input, select {
  width: 250px;
  padding: 6px 5px;
  margin: 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Exo 2", "Verdana";
  font-size: 1em;
}

.results {
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-family: "Exo 2", "Verdana";
  font-size: 1.5em;
  text-align: center;
  font-weight: 1000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #222;
  background-image: url("smash-ultimate-mural.jpg");
  background-size: auto;
  background-position: center left;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: scrollbg 120s infinite;
  animation-timing-function: linear;
  flex-grow: 1;
}

@keyframes scrollbg {
  50% {background-position-x: right;}
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.player-list input {
  margin-bottom: 10px;
}

.player-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 6px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "Exo 2", "Verdana";
  border-radius: 5px;
  cursor: pointer;
}

.player-btn:hover {
  background-color: #333;
}

.char-select-num {
  margin: 20px 0;
}

.char-select-num input {
  margin: 10px 0;
}

.stage-select-num {
  margin: 20px 0;
}

.stage-select-num input {
  margin: 10px 0;
}

.submit-btn {
  text-align: center;
}

.submit-btn button {
  background-color: #000;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 30px;
  font-family: "Exo 2", "Verdana";
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn button:hover {
  background-color: #333;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-family: "Exo 2", "Verdana";
  color: #000;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.setting-description {
  margin-top: 10px;
  margin-bottom: 0;
}

.result-line {
  margin: 10px 0;
}

#multiple-reminder-char {
  margin: 0;
  padding: 0;
}

#multiple-reminder-stage {
  margin: 0;
  padding: 0;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 6px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 180px;
  font-family: "Exo 2", "Verdana";
  font-size: 1em;
  border-radius: 5px;
}

.open-button:hover {
  background-color: #777;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 3px solid #333;
  padding: 10px;
  z-index: 9;
  background-image: linear-gradient(-30deg, #ccc, #555, #ccc, #555, #ccc);
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.cancel {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  margin: 10px, 0px;
  background-color: #000;
  border-radius: 5px;
  font-family: "Exo 2", "Verdana";
}

.cancel:hover {
  background-color: #333;
}

#color-toggle-div {
  text-align: center;
  position: relative;
}

/* Customize the label (the container) */
.container {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0 10px;
  background-color: #eee;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #111;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#alt-stage-toggle-div {
  text-align: center;
}

#legality-ctrl-description {
  margin: 0;
  font-size: 0.8em;
}

#legality-control {
  -webkit-appearance: none;
  margin: 10px 10px;
  padding: 0;
  width: 30%;
}

#legality-control::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ccc;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

#legality-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border-radius: 100px;
  background-color: #ffffff;
  background-image: url("favicon.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -10px;
}

#legality-control:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* Responsive layout - makes a one column-layout instead of two or three columns */
@media screen and (max-width: 800px) {
  .open-button {
    position: relative;
    text-align: center;
    margin: 10px 0;
    bottom: 0;
    right: 0;
  }

  .form-popup {
    border: 3px solid #333;
    padding: 10px;
    padding-top: 5px;
    z-index: 9;
    background-image: linear-gradient(-30deg, #ccc, #555, #ccc, #555, #ccc);
    width: 93%;
    margin-top: -270px;
    margin-left: -50%;
  }

  .column {
    width: 100%;
}





    


    



